.socialCardContainer {
  display: grid;
  width: 100%;
  place-items: center;
  padding-bottom: 1rem;
}
.socialCardContainerWrapper {
  width: 1000px;
  height: 36px;
  text-align: center;
  background-color: #eaecf0;
  padding: 14px 22px;
  border: 1px solid #eaecf0;
  border-radius: 8px;
}
.socialCardH {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
  cursor: pointer;
}
a {
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .socialCardContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .socialCardContainerWrapper {
    width: 400px;
    height: 38px;
    padding: 25px 0px;
  }
}
